<launch>

  <arg name="symbolic_model" default="$(find urdf_estimation_with_imus)/symbolic_models/kinovo.symburdf" />
  <param name="symbolic_robot_description" command="$(find xacro)/xacro $(arg symbolic_model)" />
  <!-- <node name="robot_description_setter" pkg="urdf_estimation_with_imus" type="robot_description_setter.py" /> -->

</launch>